
@{
    ViewData["Title"] = "Not Found";
}

<section class="error-404 not-found">
    <header class="page-header">
        <h1 class="page-title">Oops! That page can’t be found.</h1>
    </header><!-- .page-header -->
    <div class="error-num"> 404 <span>error</span> </div>
    <div class="page-content">
        <p>It looks like nothing was found at this location.</p>
    </div><!-- .page-content -->
</section>

