@{
    ViewData["Title"] = "About";
}

<section>
    <div class="post_img">
        <img src="~/images/JennDance.jpg" alt="The Fine Print Image" class="content-image">
    </div>

    <div>
        <h2>Jennifer Nichols is a choreographer, professional dancer, and founder/director of the elite ballet fitness program, The Extension Method™, and Co-Owner of its affiliate surf and dance retreat company, <a class="" href="https://extendretreats.com" target="_blank">Extend Retreats</a>.</h2>
        <p>She is owner of The Extension Room, a multi-purpose dance and fitness studio in downtown Toronto. Her method was founded in 2003 and its acclaim and exposure has spread throughout Toronto and across Canada. Jennifer has applied the Extension Method™ to elite sport, working for several years with Synchro Ontario and Synchro Canada, as well as the Granite Club synchro and figure skating clubs. In addition to acting as the home of Jennifer’s ballet fitness program, The Extension Room presents new works of dance, opera, art song and classical music, and offers affordable space to artists for creation.</p>
        <p>Originally from Collingwood, Ontario, Jennifer received her professional ballet training from the Quinte Ballet School and L’Ecole Superieure de Danse du Quebec, and completed postgraduate studies with Ballet BC. She has danced professionally for such companies as Les Grands Ballets Canadiens and Banff Festival Dance, and has been a company member of Opera Atelier Ballet since 2008. In May 2017, she danced Charpentier’s ‘Medea’ with Opera Atelier at the Opera Royale de Versailles.  </p>
        <p>Jennifer has worked extensively with director Joel Ivany and Against the Grain Theatre, most recently for the Toronto Symphony Orchestra’s staged production of Kurt Weill’s ‘Seven Deadly Sins’, in which she held the role of choreographer and Anna 2 (Dancer), co-starring alongside mezzo-soprano Wallis Guinta (Banff Centre residency - August 2016, Roy Thompson Hall - June 2017). The production was met with critical acclaim and received rave reviews. Jennifer was also choreographer of Against the Grain Theatre’s ‘Messiah’ (2013, 2015), which won the 2016 Dora award for Outstanding Ensemble Production. She also worked alongside Joel Ivany as choreographer of the Royal Conservatory’s Glenn Gould School production of ‘La Belle Helene’ (2015).  </p>
        <p>Jennifer choreographed and danced the principal role, alongside soprano Carla Hutanen in the Canadian Art Song Project's ‘The Living Spectacle’ (2015). In spring 2016, she choreographed Opera 5’s ‘Die Fledermaus’ (June 2016) and choreographed/co-directed/danced in FAWN Chamber Creative’s ‘Synesthesia IV’, building a full length solo show inspired by the work of six Canadian new music composers. In November 2016, Jennifer was commissioned by the Art Gallery of Ontario to choreograph and dance ‘The Mystical Soul’ alongside violinist Edwin Huizinga, an on-site performance within the exhibit, ‘Mystical Landscapes’. </p>
        <p>
            She was recently commissioned to choreograph the opera ‘Sweat’ (music by Juliet Palmer, libretto by Anna Chatterton) for the Bicycle Opera Project, which toured Ontario throughout July and August 2017.
            She will be directing and choreographing Haus Muzik with Tafelmusik Baroque Orchestra in November 2017 and choreographing/dancing the next stage of FAWN Chamber Creative’s ‘Synesthesia IV.’
        </p>
        <p>For television and film, Jennifer holds choreographer credits for ‘REIGN’ (CW), ‘Salvation’ (CBS), ‘Mary Kills People’ (Global TV), the tv pilot ‘TRANSYLVANIA’ (CW), and the feature film ‘Barney’s Version’ (Serendipity Point Films). She holds performance credits as a dancer in the BRAVO film ‘Nureyev’, Paramount's feature film ‘Save the Last Dance 2’ and the National Film Board’s ‘Dance of Death’. </p>
        <p>Jennifer is Co. Artistic Director, alongside Anisa Tejpar, of the dance entertainment firm <a class="blue animate hover-gray" href="http://www.hitandrun.ca" target="_blank">Hit and Run Dance Productions Inc</a>., producing dance works across Canada and internationally.  With Hit and Run, she has choreographed full-scale works for The Rolling Stones, Casa Loma, Ferrero Rocher, Telus, Warner Bros., Fashion Cares, M.A.C. Cos-metics, CTV, PUMA, Mobilicity, and the Toronto International Film Festival.</p>
    </div>
</section>
