
@{
    ViewData["Title"] = "Content";
}

<span id="active-post" hidden>@ViewData["ContentId"]</span>

<section class="centered-text">
    <div class="post_img">
        <img data-bind="attr: {src: activePost().imageUrl}" alt="The Fine Print Image" class="content-image">
    </div>
    <article>
        <span class="post_meta_category">
            <a data-bind="text: activePost().category, attr: { href: activePost().categoryUrl }"></a>
        </span>
        <h1 class="post_title">
            <a data-bind="text: activePost().title"></a>
        </h1>
        <div class="post_meta_top">
            <span data-bind="text: activePost().publishedDate"></span>
        </div>
        <div class="post_content">
            <p data-bind="html: activePost().content"></p>
        </div>
    </article>
</section>
